/*gwc*/
.colorFC0C0C{ color:#FC0C0C;}
.navCrumbs_ul li{ float:left; margin-right:7px;}
.navCrumbs_ul li a{ color:#666;}
.navCrumbs_ul li a:hover{ color:#0066CC;}
.goods_tistH3 span{ height:34px; line-height:34px; padding:0 25px; background-color:#005BAA;}
.selectQx_inp{ margin-top:9px;}
.emptySpan{ width:111px; height:28px; background:url(../img/emptySpan.jpg) no-repeat;}
.cartTable{ border:solid 1px #BBB4B4;}
.cartTable th,.cartTable td{ border:solid 1px #BBB4B4;}
.cartTable th{ font-weight:bold; height:33px; background-color:#999;}
.cartTable th.cartTable_A{ width:300px;}
.cartTable th.cartTable_B{ width:135px;}
.cartTable th.cartTable_C{ width:185px;}
.cartTable th.cartTable_D{ width:168px;}
.cartTable th.cartTable_E{ width:250px;}
.cartTable th.cartTable_F{ width:125px;}
.cartTable th td{ color:#3b3834;}
.descriPtion_span{ width:160px; max-height:67px; overflow:hidden; margin-top:15px;}
.inpNumber{ width:25px; height:25px; line-height:15px; border:solid 1px #CDCDCD; background-color:#fff;}
.cc_digital{ border:solid 1px #CDCDCD; width:55px; height:25px; line-height:25px;}
.gwOpera{ height:45px; line-height:45px;}
.mt18{ margin-top:18px;}
.borHecon{ border:solid 1px #BBB4B4; padding:8px 0 5px 8px;}
.immedOrder{}
.shopA{ width:183px; height:50px; background:url(../img/immedOrder.png) no-repeat top;}
.learingA{ width:183px; height:50px; background:url(../img/immedOrder.png) no-repeat bottom;}
.backgroundF7E5C6{ background-color:#F7E5C6;}
/*gwc.css end*/